<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuition Reimbursement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
      <script src="js/employee.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Employee Portal</h1>
      <!-- <script src="../js/fetch.js"></script> -->
    </div>
    <div style ='padding:1vw 20vw'>
    <div>
      <form onsubmit="sendReimRequest(); return false">
        <div class="form-group">
          <label for="eventType">Event Type:</label>
          <input class="form-control" id="eventType" name='eventType'>

          <label for="rawCost"> Raw Cost:</label>
          <input class="form-control" id="rawCost" name='rawCost'>

          <label for="startDate">Start Date:</label>
          <input class="form-control" id="startDate" name='startDate'>

          <label for="endDate">End Date:</label>
          <input class="form-control" id="endDate" name='endDate'>

          <label for="location">Location:</label>
          <input class="form-control" id="location" name='location'>

          <label for="description">Description:</label>
          <input class="form-control" id="description" name='description'>
          
          <label for="gradingFormat">Grading Format:</label>
          <input class="form-control" id="gradingFormat" name='gradingFormat'>

          <label for="justification">Justification:</label>
          <input class="form-control" id="justification" name='justification'>

          <label for="approverEmail">Approver Email (optional):</label>
          <input class="form-control" id="approverEmail" name='approverEmail'>
          <!-- <label for="interestedParties">Interested Parties:</label>
          <input class="form-control" id="interestedParties" name='interestedParties'> -->
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
    <div>
      <hr>
      <h3>Grade Submission</h3>
      <form onsubmit="postGrade(); return false">
        <div class="form-group">
          <label for="reimID5">Reimbursment ID:</label>
          <input class="form-control" id="reimID5" name='reimID5'>
          <br/>
          <label for="grade">Grade:</label>
          <input class="form-control" id="grade" name='grade'>
          <br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
    <hr>
    <div id="empApproval">
      <h3>Reimbursments that needs Employee Approvals due to change in reward amount</h3>
      <input type="submit" onclick="getReimEmployApporval()" class="btn btn-primary col-sm-2" value="Fetch">
    </div>
    <div>
      <h3>Employ Cancel or approve different amount</h3>
      <form onsubmit="updateEmpApproval(); return false">
        <div class="form-group">
          <label for="reimID3">Reimbursment ID:</label>
          <input class="form-control" id="reimID3" name='reimID3'>
          <br/>
          <label>Approve</label>
          <input type="radio" id="empApprove" value="approved">
          <label>Cancel</label>
          <input type="radio" id="empApprove" value="cancelled">
          <br/><br/>
          <label for="reason">Reason:</label>
          <input class="form-control" id="reason" name='reason'>
          <br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
      <br/>
      <hr>
      <br/>
    <div id="preApprovals">
      <h3>Pre-Approvals</h3>
      <input type="submit" onclick="getPreApproval()" class="btn btn-primary col-sm-2" value="Fetch">
    </div>
    <br/>
    <hr>
    <br/>
    <div>
      <h3>Approve Pre-Approvals</h3>
      <form onsubmit="preReim(); return false">
        <div class="form-group">
          <label for="reimID">Reimbursment ID:</label>
          <input class="form-control" id="reimID" name='reimID'>
          <br/>
          <label for="approveOrNot">Approve</label>
          <input type="radio" id="approveOrNot" name="approveOrNot" value="approve">
          <label for="approveOrNot">Deny</label>
          <input type="radio" id="approveOrNot" name="approveOrNot" value="reject">
          <br/><br/>
          <label for="reason">Reason:</label>
          <input class="form-control" id="reason" name='reason'>
          <br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
    <br/>
    <hr>
    <!-- <div>
      <h3>Request More Info</h3>
      <form onsubmit="preReim(); return false">
        <div class="form-group">
          <label for="reimID7">Reimbursment ID:</label>
          <input class="form-control" id="reimID7" name='reimID7'>
          <br/>
          <label for="empID">Employee ID:</label>
          <input class="form-control" id="empID" name='empID'>
          <br/>
          <label for="approveOrNot">What additional info</label>
          <input id="request" value="approve">
          <label for="approveOrNot">Deny</label>
          <input type="radio" id="approveOrNot" name="approveOrNot" value="reject">
          <br/><br/>
          <label for="reason">Reason:</label>
          <input class="form-control" id="reason" name='reason'>
          <br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div> -->
    <hr>
    <br/>
    <div>
      <h3>Approve post-Approvals</h3>
      <form onsubmit="postReim(); return false">
        <div class="form-group">
          <label for="reimID1">Reimbursment ID:</label>
          <input class="form-control" id="reimID1" name='reimID1'>
          <br/>
          <label for="finalAmount">Final Amount:</label>
          <input class="form-control" id="finalAmount" name='finalAmount'>
          <br/>
          <label for="postApprove">Approve</label>
          <input type="radio" id="postApprove" name="postApprove" value="approve">
          <label for="postApprove">Deny</label>
          <input type="radio" id="postApprove" name="postApprove" value="reject">
          <br/><br/>
          <label for="reason">Reason:</label>
          <input class="form-control" id="reason1" name='reason1'>
          <br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
    <br/>
    <hr>
    <br/>
    <div id="reimGraded">
      <h3>Graded Reims for Benco to Approve</h3>
      <input type="submit" onclick="getReimGraded()" class="btn btn-primary col-sm-2" value="Fetch">
    </div>
    <div>
      <h3>Grade Check for Benco</h3>
      <form onsubmit="gradeCheckBenco(); return false">
        <div class="form-group">
          <label for="reimID2">Reimbursment ID:</label>
          <input class="form-control" id="reimID2" name='reimID2'>
          <br/>
          <label for="postApprove">Approve</label>
          <input type="radio" id="gradeCheck" name="gradeCheck" value="approved">
          <label for="postApprove">Deny</label>
          <input type="radio" id="gradeCheck" name="gradeCheck" value="denied">
          <br/><br/>
          <input type="submit" class="btn btn-primary col-sm-2" value="Submit">
        </div>
      </form>
    </div>
  </div>

    <script src="js/nav.js"></script>
    <script src="js/userinfo.js"></script>
  </body>
</html>